# Test Run: Subtraction — Build 8

- **Executed at:** 2026-09-28T18:10:52+07:00
- **Tester:** thu
- **Browser:** chrome
- **URL:** https://testsheepnz.github.io/BasicCalculator.html
- **Build:** 8

| Test Case ID | Module | Tester | Result | Related Bug | Note |
|---|---|---|---|---|---|
| TC-SUB-001 | Subtraction | thu | Fail | [#5](https://github.com/Notistris/Ktpm-cs10003-week03/issues/5) | Expected Answer: 15; actual Answer: -15 |
| TC-SUB-002 | Subtraction | thu | Fail | [#5](https://github.com/Notistris/Ktpm-cs10003-week03/issues/5) | Expected Answer: -5; actual Answer: 5 |
| TC-SUB-003 | Subtraction | thu | Pass | None |  |
| TC-SUB-004 | Subtraction | thu | Fail | [#5](https://github.com/Notistris/Ktpm-cs10003-week03/issues/5) | Expected Answer: -7; actual Answer: 7 |
| TC-SUB-005 | Subtraction | thu | Fail | [#5](https://github.com/Notistris/Ktpm-cs10003-week03/issues/5) | Expected Answer: -15; actual Answer: 15 |
| TC-SUB-006 | Subtraction | thu | Fail | [#5](https://github.com/Notistris/Ktpm-cs10003-week03/issues/5) | Expected Answer: 15; actual Answer: -15 |
| TC-SUB-007 | Subtraction | thu | Fail | [#5](https://github.com/Notistris/Ktpm-cs10003-week03/issues/5) | Expected Answer: 8.5; actual Answer: -8.5 |
| TC-SUB-008 | Subtraction | thu | Fail | [#5](https://github.com/Notistris/Ktpm-cs10003-week03/issues/5) | Expected Answer: 8; actual Answer: -8 |
| TC-SUB-009 | Subtraction | thu | Fail | [#5](https://github.com/Notistris/Ktpm-cs10003-week03/issues/5) | Expected Error: Number 1 is not a number; actual Error: Number 2 is not a number |
| TC-SUB-010 | Subtraction | thu | Fail | [#5](https://github.com/Notistris/Ktpm-cs10003-week03/issues/5) | Expected Error: Number 2 is not a number; actual Error: Number 1 is not a number |
