# Test Run: Subtraction — Build 2

- **Executed at:** 2026-09-28T18:10:52+07:00
- **Tester:** thu
- **Browser:** chrome
- **URL:** https://testsheepnz.github.io/BasicCalculator.html
- **Build:** 2

| Test Case ID | Module | Tester | Result | Related Bug | Note |
|---|---|---|---|---|---|
| TC-SUB-001 | Subtraction | thu | Pass | None |  |
| TC-SUB-002 | Subtraction | thu | Pass | None |  |
| TC-SUB-003 | Subtraction | thu | Pass | None |  |
| TC-SUB-004 | Subtraction | thu | Pass | None |  |
| TC-SUB-005 | Subtraction | thu | Pass | None |  |
| TC-SUB-006 | Subtraction | thu | Pass | None |  |
| TC-SUB-007 | Subtraction | thu | Pass | None |  |
| TC-SUB-008 | Subtraction | thu | Pass | None |  |
| TC-SUB-009 | Subtraction | thu | Pass | None |  |
| TC-SUB-010 | Subtraction | thu | Pass | None |  |
